<!-- FlightConnect schedules.html -->

<html>

    <head>
        <title>Schedules - FlightConnect</title>
        <link rel="stylesheet" href="/public/css/main.css">
        <script src="/public/js/schedules.js" defer></script>
    </head>

    <body class="mainBody">

        <header class="header">
            <h1 class="title">FlightConnect</h1>
            <nav class="navBar">
                <ul>
                    <li><button class="button-74" role="button" onclick="window.location.href='dashboard.html'">Dashboard</button></li>
                    
                    <li><button class="button-74" role="button" onclick="window.location.href='schedules.html'">Schedules</button></li>
                    
                    <li><button class="button-74" role="button" onclick="window.location.href='about.html'">About</button></li>
                </ul>
            </nav>
        </header>


        <br><br>
        <h1>Flight Schedules</h1>
        <br><br>
        <h2>Help</h2>
    </body>

</html>