<!-- FlightConnect schedules.html -->

<html>

    <head>
        <title>Schedules - FlightConnect</title>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/schedules.js" defer></script>
    </head>

    <body class="mainBody">

        <header class="header">
            <h1 class="title">FlightConnect</h1>
            <nav class="navBar">
                <ul>
                    <li><button class="button-74" onclick="window.location.href='/dashboard'">Dashboard</button></li>

                    <li><button class="button-74" onclick="window.location.href='/schedules'">Schedules</button></li>
                    
                    <li><button class="button-74" onclick="window.location.href='/about'">About</button></li>
                </ul>
            </nav>
        </header>


        <br><br>
        <h1>Flight Schedules</h1>
        <br><br>
        <h2>Help</h2>
    </body>

</html>